<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Edit Profile</title>
  <meta name="description" content="Edit Profile">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/header_Sidebar.css">
  

</head>


<body>
  <!-- Header -->
  <%- include partials/header_Slider %>
  <!-- Page contents -->
  <div id="main">
    <%- include partials/header %>
    <!-- End header -->

    <div class="container">
      <h1>Edit Profile</h1>
      <hr>
      <div class="row">
        <!-- left column -->
        <div class="col-md-3">
          <div class="text-center">
            <img src="<%if(user.profile_pic_url){%><%=user.profile_pic_url%><%}else{%>/images/profilePic/default.png<%}%>" class="avatar img-circle" style="width:100px;height:100px;">
            <h6>Upload a different photo...</h6>

            <input type="file" name='file' class="form-control">
          </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-9 personal-info">
        <%if(!user.first_name || !user.last_name || !user.address_1){ %>
          <div class=" alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a>
            <i class="fa fa-coffee"></i>
            Please enter your <%if(!user.first_name){%><strong>first name</strong> and
            <%}%> <%if(!user.last_name){%><strong>last name</strong> and
            <%}%> <%if(!user.address_1){%><strong>adress</strong><%}%>
          </div>
          <% }%>
          <h3>Personal info</h3>

          <form class="form-horizontal" name="form" action="/users/editProfile" method="post">
            <div class="form-group">
              <label class="col-lg-3 control-label">First name:</label>
              <div class="col-lg-8">
                <input class="form-control" name= 'firstName' type="text" value="<%=user.first_name%>">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Last name:</label>
              <div class="col-lg-8">
                <input class="form-control" name= 'lastName' type="text" value="<%=user.last_name%>">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Company:</label>
              <div class="col-lg-8">
                <input class="form-control" name= 'compony' type="text" value="">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Email:</label>
              <div class="col-lg-8">
                <input class="form-control" name= 'email' type="text" value="<%=user.email%>">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Username:</label>
              <div class="col-md-8">
                <input class="form-control" name= 'userName' type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Password:</label>
              <div class="col-md-8">
                <input class="form-control" name= 'password' type="password">
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">Confirm password:</label>
                <div class="col-md-8">
                  <input class="form-control" type="password">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-8">
                <input type="submit" class="btn btn-primary" value="Save Changes">
                <input type="reset" class="btn btn-default" value="Cancel">
              </div>
            </form>
          </div>
        </div>
      </div>
      <hr>

      <!-- End page contents -->


      <!-- Footer -->
      <%- include partials/footer %>
    </div>
    <!-- End footer -->

    <!-- Scripts -->
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js">
    </script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js">
    </script>
    <script src="/javascripts/header_Sidebar.js"></script>

</body>